<div class="nav-limit">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark index-nav">
    <a class="navbar-brand" routerLink="">这个一个简单的Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/0">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/http">HTTP</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<style>
  .nav-limit {
    background-color: #373a3c;
    /*margin-bottom: 30px;*/
  }
  .index-nav {
    max-width: 1140px;
    margin: 0 auto;
  }
</style>